#
# Copyright (c) 2026 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

apiVersion: v1
kind: Pod
metadata:
  name: {{ pod_name }}
  namespace: {{ pod_namespace }}
spec:
  nodeSelector:
    kubernetes.io/hostname: "{{ inventory_hostname }}"
  containers:
    - name: {{ pod_name }}
      image: {{ images.ceph_config_helper }}
      command: [ "sleep", "infinity" ]
      securityContext:
        privileged: true
      volumeDevices:
{% for pvc in batch_pvc_list %}
        - name: data-{{ loop.index0 }}
          devicePath: "/dev/block-{{ loop.index0 }}"
{% endfor %}
{% if backup_path is defined %}
      volumeMounts:
        - mountPath: /backup
          name: backup-data
{% endif %}
  imagePullSecrets:
    - name: {{ migration_target | replace('_', '-') }}-migration-registry-local-secret
  volumes:
{% for pvc in batch_pvc_list %}
    - name: data-{{ loop.index0 }}
      persistentVolumeClaim:
        claimName: {{ pvc.name }}
{% endfor %}
{% if backup_path is defined %}
    - name: backup-data
      hostPath:
        path: {{ backup_path }}
{% endif %}
