#
# Copyright (c) 2026 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: rook-ceph-recovery
rules:
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["list", "get", "watch", "delete"]
- apiGroups: [""]
  resources: ["services"]
  verbs: ["get"]
- apiGroups: [""]
  resources: ["pods/log"]
  verbs: ["get"]
- apiGroups: [""]
  resources: ["pods/exec"]
  verbs: ["create"]
- apiGroups: [""]
  resources: ["nodes"]
  verbs: ["get", "patch"]
- apiGroups: [""]
  resources: ["configmaps"]
  verbs: ["list", "get", "patch"]
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["list", "get", "patch"]
- apiGroups: ["apps"]
  resources: ["deployments"]
  verbs: ["list", "patch", "get"]
- apiGroups: ["apps"]
  resources: ["deployments/scale"]
  verbs: ["patch"]
- apiGroups: ["batch"]
  resources: ["jobs"]
  verbs: ["list", "watch", "get", "delete"]
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: rook-ceph-recovery
  namespace: rook-ceph
imagePullSecrets:
  - name: default-registry-key
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: rook-ceph-recovery
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: rook-ceph-recovery
subjects:
- kind: ServiceAccount
  name:  rook-ceph-recovery
  namespace: rook-ceph
---
apiVersion: batch/v1
kind: Job
metadata:
  name: rook-ceph-recovery-{{ inventory_hostname }}
  namespace: rook-ceph
  labels:
    app: rook-ceph-recovery
    app.kubernetes.io/part-of: rook-ceph-recovery
    recovery-host: {{ inventory_hostname }}
spec:
  template:
    metadata:
      name: rook-ceph-recovery-{{ inventory_hostname }}
      namespace: rook-ceph
      labels:
        app: rook-ceph-recovery
        app.kubernetes.io/part-of: rook-ceph-recovery
        recovery-host: {{ inventory_hostname }}
    spec:
      nodeName: {{ inventory_hostname }}
      serviceAccountName: rook-ceph-recovery
      tolerations:
      - effect: NoSchedule
        operator: Exists
        key: node-role.kubernetes.io/master
      - effect: NoSchedule
        operator: Exists
        key: node-role.kubernetes.io/control-plane
      restartPolicy: OnFailure
      volumes:
        - hostPath:
            path: "{{ rook_base }}" # get from current role default vars
            type: ""
          name: rook-data
        - hostPath:
            path: /tmp/ceph
            type: ""
          name: tmp
        - hostPath:
            path: /var/lib/ceph
            type: ""
          name: ceph-data
        - hostPath:
            path: /dev
            type: ""
          name: devices
        - hostPath:
            path: /run/udev
            type: ""
          name: run-udev
        - name: kube-config
          hostPath:
            path: /etc/kubernetes/admin.conf
        - hostPath:
            path: /etc/ceph
            type: ""
          name: ceph-cfg
      containers:
        - name: recovery
          image: "{{ ceph_image }}"
          command: [ "/bin/bash", "-c", "--" ]
          args: [ "while true; do sleep 30; done;" ]
          env:
          - name: ROOK_MONS
            valueFrom:
              configMapKeyRef:
                key: data
                name: rook-ceph-mon-endpoints
          - name: ADMIN_KEYRING
            valueFrom:
              secretKeyRef:
                name: rook-ceph-admin-keyring
                key: keyring
          securityContext:
            privileged: true
            readOnlyRootFilesystem: false
            runAsUser: 0
          volumeMounts:
          - mountPath: /var/lib/rook
            name: rook-data
          - mountPath: /var/lib/ceph
            name: ceph-data
          - mountPath: /tmp/ceph
            name: tmp
          - mountPath: /dev
            name: devices
          - mountPath: /run/udev
            name: run-udev
          - name: kube-config
            mountPath: /etc/kubernetes/admin.conf
            readOnly: true
          - mountPath: /etc/ceph
            name: ceph-cfg
