[lldp]
drivers=lldpd

[DEFAULT]
control_exchange=openstack
verbose=True
debug=False
api_paste_config=/etc/sysinv/api-paste.ini
syslog_log_facility=local6
sysinv_api_port=6385
MTC_INV_LABEL=/v1/hosts/
logging_context_format_string=sysinv %(asctime)s.%(msecs)03d %(process)d %(levelname)s %(name)s [%(request_id)s %(user)s %(tenant)s] %(instance)s%(message)s
logging_default_format_string=sysinv %(asctime)s.%(msecs)03d %(process)d %(levelname)s %(name)s [-] %(instance)s%(message)s
sysinv_api_bind_ip=::
auth_strategy=keystone
sysinv_api_pxeboot_ip=
sysinv_api_workers=2
use_syslog=True

[database]
connection={{ database_connection }}
connection_recycle_time=60
max_pool_size=1
max_overflow=64

[journal]
journal_max_size=51200
journal_min_size=1024
journal_default_size=1024

[keystone_authtoken]
region_name={{ region_name }}
auth_url=http://localhost:5000
auth_uri=http://localhost:5000
auth_type=password
project_name=services
username=sysinv
password={{ sysinv_var_dict['sysinv::keystone::auth::password'] }}
user_domain_name=Default
project_domain_name=Default
interface=internal

[openstack_keystone_authtoken]
region_name={{ region_name }}
neutron_region_name={{ region_name }}
cinder_region_name={{ region_name }}
nova_region_name={{ region_name }}
barbican_region_name={{ region_name }}
auth_url=http://localhost:5000
auth_uri=http://localhost:5000
auth_type=password
project_name=admin
username=admin
user_domain_name=Default
project_domain_name=Default
keyring_service=CGCS

[fm]
catalog_info=faultmanagement:fm:internalURL
os_region_name={{ region_name }}

[fernet_repo]
key_repository=/opt/platform/keystone/fernet-keys

[conductor_periodic_task_intervals]
default=60
agent_update_request=60
kubernetes_local_secrets=86400
deferred_runtime_config=60
controller_config_active_apply=60
upgrade_status=180
install_states=60
kubernetes_labels=180
image_conversion=60
storage_backend_failure=400
k8s_application=60
device_image_update=300
k8s_cluster_health=180

[agent_periodic_task_intervals]
default=60
inventory_audit=60
lldp_audit=300
