---
# This section enables the Calico Ingress Gateway which provides an
# implementation of the Kubernetes Gateway API using Envoy Gateway.
# For more information, see: https://docs.tigera.io/calico/3.31/networking/ingress-gateway/create-ingress-gateway
apiVersion: operator.tigera.io/v1
kind: GatewayAPI
metadata:
  name: default
spec:
  envoyGatewayConfigRef:
    name: custom-envoy-gateway-config
    namespace: tigera-gateway
  gatewayControllerDeployment:
    spec:
      template:
        spec:
          tolerations:
            - key: node-role.kubernetes.io/control-plane
              effect: NoSchedule
              operator: Exists
            - key: node-role.kubernetes.io/master
              effect: NoSchedule
              operator: Exists
            - key: node.kubernetes.io/not-ready
              effect: NoSchedule
              operator: Exists
            - key: node.kubernetes.io/unreachable
              effect: NoSchedule
              operator: Exists
            - key: node.kubernetes.io/not-ready
              effect: NoExecute
              operator: Exists
              tolerationSeconds: 0
            - key: node.kubernetes.io/unreachable
              effect: NoExecute
              operator: Exists
              tolerationSeconds: 0
  gatewayCertgenJob:
    spec:
      template:
        spec:
          tolerations:
            - key: node-role.kubernetes.io/control-plane
              effect: NoSchedule
              operator: Exists
            - key: node-role.kubernetes.io/master
              effect: NoSchedule
              operator: Exists
            - key: node.kubernetes.io/not-ready
              effect: NoSchedule
              operator: Exists
            - key: node.kubernetes.io/unreachable
              effect: NoSchedule
              operator: Exists
            - key: node.kubernetes.io/not-ready
              effect: NoExecute
              operator: Exists
              tolerationSeconds: 0
            - key: node.kubernetes.io/unreachable
              effect: NoExecute
              operator: Exists
              tolerationSeconds: 0
