# explicitly use v2 config format for identification
version = 2

server = "{{ registry_local }}"
[host."{{ registry_local }}"]
  capabilities = ["pull", "resolve", "push"]
  ca = "/etc/docker/certs.d/{{ registry_local }}/registry-cert.crt"
