[OPERATION]
MODE={{ mode }}

[{{ mode | upper }}_CONFIG]
NAMESERVERS={{ dns_servers | join(',') }}
DOCKER_HTTP_PROXY={{ docker_http_proxy }}
DOCKER_HTTPS_PROXY={{ docker_https_proxy }}
DOCKER_NO_PROXY={{ docker_no_proxy_combined | join(',') }}
K8S_REGISTRY={{ k8s_registry.url }}
GCR_REGISTRY={{ gcr_registry.url }}
QUAY_REGISTRY={{ quay_registry.url }}
DOCKER_REGISTRY={{ docker_registry.url }}
ELASTIC_REGISTRY={{ elastic_registry.url }}
GHCR_REGISTRY={{ ghcr_registry.url }}
REGISTRYK8S_REGISTRY={{ registryk8s_registry.url }}
ICR_REGISTRY={{ icr_registry.url }}
K8S_REGISTRY_TYPE={{ k8s_registry.type | default('docker') }}
GCR_REGISTRY_TYPE={{ gcr_registry.type | default('docker') }}
QUAY_REGISTRY_TYPE={{ quay_registry.type | default('docker') }}
DOCKER_REGISTRY_TYPE={{ docker_registry.type | default('docker') }}
ELASTIC_REGISTRY_TYPE={{ elastic_registry.type | default('docker') }}
GHCR_REGISTRY_TYPE={{ ghcr_registry.type | default('docker') }}
REGISTRYK8S_REGISTRY_TYPE={{ registryk8s_registry.type | default('docker') }}
ICR_REGISTRY_TYPE={{ icr_registry.type | default('docker') }}
K8S_REGISTRY_SECURE={{ k8s_registry.secure | default(True) }}
GCR_REGISTRY_SECURE={{ gcr_registry.secure | default(True) }}
QUAY_REGISTRY_SECURE={{ quay_registry.secure | default(True) }}
DOCKER_REGISTRY_SECURE={{ docker_registry.secure | default(True) }}
ELASTIC_REGISTRY_SECURE={{ elastic_registry.secure | default(True) }}
GHCR_REGISTRY_SECURE={{ ghcr_registry.secure | default(True) }}
REGISTRYK8S_REGISTRY_SECURE={{ registryk8s_registry.secure | default(True) }}
ICR_REGISTRY_SECURE={{ icr_registry.secure | default(True) }}
K8S_REGISTRY_ADDITIONAL_OVERRIDES={{ k8s_registry.additional_overrides | default('undef') }}
GCR_REGISTRY_ADDITIONAL_OVERRIDES={{ gcr_registry.additional_overrides | default('undef') }}
QUAY_REGISTRY_ADDITIONAL_OVERRIDES={{ quay_registry.additional_overrides | default('undef') }}
DOCKER_REGISTRY_ADDITIONAL_OVERRIDES={{ docker_registry.additional_overrides | default('undef') }}
ELASTIC_REGISTRY_ADDITIONAL_OVERRIDES={{ elastic_registry.additional_overrides | default('undef') }}
GHCR_REGISTRY_ADDITIONAL_OVERRIDES={{ ghcr_registry.additional_overrides | default('undef') }}
REGISTRYK8S_REGISTRY_ADDITIONAL_OVERRIDES={{ registryk8s_registry.additional_overrides | default('undef') }}
ICR_REGISTRY_ADDITIONAL_OVERRIDES={{ icr_registry.additional_overrides | default('undef') }}
USE_DEFAULT_REGISTRIES={{ use_default_registries }}
K8S_REGISTRY_SECRET={{ k8s_registry_secret | default('none') }}
GCR_REGISTRY_SECRET={{ gcr_registry_secret | default('none') }}
QUAY_REGISTRY_SECRET={{ quay_registry_secret | default('none') }}
DOCKER_REGISTRY_SECRET={{ docker_registry_secret | default('none') }}
ELASTIC_REGISTRY_SECRET={{ elastic_registry_secret | default('none') }}
GHCR_REGISTRY_SECRET={{ ghcr_registry_secret | default('none') }}
REGISTRYK8S_REGISTRY_SECRET={{ registryk8s_registry_secret | default('none') }}
ICR_REGISTRY_SECRET={{ icr_registry_secret | default('none') }}
{# -- Check user_dns_host_records to include dns_host_records #}
{% if user_dns_host_records is defined | default(false) %}
{{ sysinv_user_dns_host_records }}
{% endif %}
