---
#
# Copyright (c) 2020 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

- hosts: all

  vars:
    mode: 'upgrade_static_images'
    overrides_file: '/tmp/upgrade_static_images_overrides.yaml'

  tasks:
    - name: Fail if kubernetes_version is not defined
      fail: msg="The mandatory parameter kubernetes_version is not defined."
      when: kubernetes_version is not defined

    - name: Create the upgrade overrides file
      command: "/usr/bin/sysinv-utils create-host-overrides {{ overrides_file }}"

    - name: Read the overrides variables
      include_vars:
        file: "{{ overrides_file }}"

    - name: Upgrade static images
      import_role:
        name: common/push-docker-images
