---
#
# Copyright (c) 2021-2025 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#
# SUB-TASKS DESCRIPTION:
#   These tasks update docker registry credentials, keystone passwords in keystone
#   database, secure hieradata, relevant service config files as well as service
#   passwords in keyring.
#

- name: Create a temporary file for user list
  tempfile:
    state: file
    prefix: "keystone_user_list_"
  register: temp_keystone_pass_file

- name: Write user list to a temporary file
  copy:
    content: "{{ user_list | to_nice_json }}"
    dest: "{{ temp_keystone_pass_file.path }}"

# During the updates and services restarts, a notification can be sent by keystone
# multiple times, so we don't delete the flag after running the script.
# In the rehome case, the flag is removed at the end of rehome process.
# In the enroll case, the flag is removed during unlock.
- name: Set skip_keystone_password_update flag to avoid manifest application from keystone listener
  file:
    path: /var/run/.skip_keystone_password_update
    state: touch

- name: Update keystone and keyring user passwords
  script: >
    update_keystone_keyring_passwords.py
    {{ temp_keystone_pass_file.path }}
    {% if mode is defined and mode == "enroll" %}
    --no-verify
    {% endif %}
  register: update_keystone_password_result
  failed_when: false
  timeout: 180

- debug: var=update_keystone_password_result

- name: Remove the temporary file
  file:
    path: "{{ temp_keystone_pass_file.path }}"
    state: absent

- name: Fail if update keystone password script throws an exception
  fail:
    msg: "Failed to update keystone passwords."
  when: update_keystone_password_result.rc != 0

- name: Set enrollment_in_progress flag to prevent deferred manifest apply
  file:
    path: /var/run/.enrollment_in_progress
    state: touch
  become: true
  when: mode == "enroll"

- name: Reload openrc credentials after changing keystone passwords
  include_role:
    name: common/load-openrc
  when: mode is defined and mode == "enroll"

- block:
  - name: Get subcloud active controller
    shell: |
      cat /etc/hostname
    register: active_controller_name

  - name: Set fact for inactive controller
    set_fact:
      inactive_controller: "{{ 'controller-1' if active_controller_name.stdout == 'controller-0' else 'controller-0' }}"

  - name: Update config files in inactive controller
    block:
      - name: Copy config files to inactive controller
        shell: >
          cat {{ item }} |
          sshpass -p '{{ ansible_password }}'
          ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
          sysadmin@{{ inactive_controller }}
          "tee /tmp/{{ item | basename }}.tmp > /dev/null &&
          echo '{{ ansible_password }}' |
          sudo -S -- sh -c 'mv /tmp/{{ item | basename }}.tmp {{ item }} && chmod 0600 {{ item }}'"
        with_items:
          - "/etc/sysinv/sysinv.conf"
          - "/etc/sysinv/api-paste.ini"
          - "/etc/sysinv/cert-mon.conf"
          - "/etc/sysinv/cert-alarm.conf"
          - "/etc/fm/fm.conf"
          - "/etc/barbican/barbican.conf"
          - "/etc/software/software.conf"
          - "/etc/mtc.ini"
    when: system_mode != "simplex"
    no_log: true

  - name: Update docker registry credentials
    command: "update_docker_registry_auth.sh 'sysinv' '{{ users['sysinv'] }}'"
    no_log: true
  when: mode == "rehoming"
