#
# Copyright (c) 2026 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

apiVersion: v1
kind: Pod
metadata:
  name: migration-pvs
  namespace: {{ namespace }}
spec:
  restartPolicy: OnFailure
  hostNetwork: true
  containers:
    - name: migration-pvs
      image: {{ images.rsync }}
      command: ["/bin/sh", "-c"]
      args:
        - rsync -av --remove-source-files /old-data/ /new-data/ && echo "Backup Done"
      volumeMounts:
        - mountPath: "/old-data"
          name: old-pv
        - mountPath: /new-data
          name: new-pv
  imagePullSecrets:
    - name: rook-migration-registry-local-secret
  volumes:
    - name: old-pv
      persistentVolumeClaim:
        claimName: {{ old_pvc_name }}
    - name: new-pv
      persistentVolumeClaim:
        claimName: {{ new_pvc_name }}
