#
# Copyright (c) 2026 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

import yaml

filename="{{ tmp_workspace }}/{{ pv_name }}.yaml"

with open(filename, 'r') as f:
    data = yaml.safe_load(f)

if '-old' not in data['metadata']['name']:
    data['metadata']['name'] += "-old"

if 'claimRef' in data['spec']:
    del data['spec']['claimRef']

with open(filename, 'w') as f:
  yaml.dump(
      data,
      f,
      default_flow_style=False,
      sort_keys=False,
      indent=2
  )
