[defaults]
inventory = ../../host_vars/storage-backend-migration/inventory
roles_path = ../../roles/storage-backend-migration
fact_caching = jsonfile
fact_caching_connection = ~/.storage-backend-migration-ansible-cache
fact_caching_timeout = 0
host_key_checking = False
callback_whitelist = profile_tasks
forks = 1
any_errors_fatal = true
log_path = ~/storage-backend-migration-ansible.log
timeout = 60
stdout_callback = yaml

[ssh_connection]
pipelining = True
scp_if_ssh = True
