---
#
# Copyright (c) 2024-2025 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#
# ROLE DESCRIPTION:
#   This role is to validate the configured registries
#

- name: Fail if any of the configured registry keys is unknown
  fail:
    msg: "Unknown registry key: '{{ item }}'. Acceptable keys are {{ known_registry_keys|join(', ') }} "
  when: not item in known_registry_keys
  with_items: "{{ user_defined_registry_keys }}"

# error check the password section of docker registries
# check password parameters before trying to hide the password
# we need to do that here as opposed to with the other docker registry
# stuff because of the debug log statement.
# we need to do this all before the debug log statement to not log passwords.
- name: Check k8s_registry credentials
  fail:
    msg: "k8s registry username and password must both be specified or not at all"
  when: (docker_registries["k8s.gcr.io"].username is defined and
         docker_registries["k8s.gcr.io"].password is not defined) or
        (docker_registries["k8s.gcr.io"].username is not defined and
         docker_registries["k8s.gcr.io"].password is defined)

- name: Check gcr_registry credentials
  fail:
    msg: "gcr registry username and password must both be specified or not at all"
  when: (docker_registries["gcr.io"].username is defined and
         docker_registries["gcr.io"].password is not defined) or
        (docker_registries["gcr.io"].username is not defined and
         docker_registries["gcr.io"].password is defined)

- name: Check quay_registry credentials
  fail:
    msg: "quay registry username and password must both be specified or not at all"
  when: (docker_registries["quay.io"].username is defined and
         docker_registries["quay.io"].password is not defined) or
        (docker_registries["quay.io"].username is not defined and
         docker_registries["quay.io"].password is defined)

- name: Check docker_registry credentials
  fail:
    msg: "docker registry username and password must both be specified or not at all"
  when: (docker_registries["docker.io"].username is defined and
         docker_registries["docker.io"].password is not defined) or
        (docker_registries["docker.io"].username is not defined and
         docker_registries["docker.io"].password is defined)

- name: Check elastic_registry credentials
  fail:
    msg: "elastic registry username and password must both be specified or not at all"
  when: (docker_registries["docker.elastic.co"].username is defined and
         docker_registries["docker.elastic.co"].password is not defined) or
        (docker_registries["docker.elastic.co"].username is not defined and
         docker_registries["docker.elastic.co"].password is defined)

- name: Check ghcr_registry credentials
  fail:
    msg: "ghcr registry username and password must both be specified or not at all"
  when: (docker_registries["ghcr.io"].username is defined and
         docker_registries["ghcr.io"].password is not defined) or
        (docker_registries["ghcr.io"].username is not defined and
         docker_registries["ghcr.io"].password is defined)

- name: Check registryk8s_registry credentials
  fail:
    msg: "registryk8s registry username and password must both be specified or not at all"
  when: (docker_registries["registry.k8s.io"].username is defined and
         docker_registries["registry.k8s.io"].password is not defined) or
        (docker_registries["registry.k8s.io"].username is not defined and
         docker_registries["registry.k8s.io"].password is defined)

- name: Check icr_registry credentials
  fail:
    msg: "icr registry username and password must both be specified or not at all"
  when: (docker_registries["icr.io"].username is defined and
         docker_registries["icr.io"].password is not defined) or
        (docker_registries["icr.io"].username is not defined and
         docker_registries["icr.io"].password is defined)

- name: Check defaults registry credentials
  fail:
    msg: "defaults registry username and password must both be specified or not at all"
  when: docker_registries['defaults'] is defined and
        ((docker_registries['defaults'].username is defined and
         docker_registries['defaults'].password is not defined) or
        (docker_registries['defaults'].username is not defined and
         docker_registries['defaults'].password is defined))

# create a copy of docker_registries without passwords for debug logging
- set_fact:
    docker_registries_with_secrets: "{{ docker_registries }}"
  no_log: true

- set_fact:
    docker_registries: "{{ docker_registries | combine(hide_pw, recursive=true) }}"
  vars:
    hide_pw: "{ '{{ item.key }}': { 'password': 'secret' } }"
  with_dict: "{{ docker_registries }}"
  no_log: true

# Docker config validation
- block:
  - name: Validate http proxy urls
    include_tasks: validate_url.yml
    loop:
      - "{{ docker_http_proxy }}"
      - "{{ docker_https_proxy }}"
    loop_control:
      loop_var: input_url

  - name: Validate no proxy addresses
    include_role:
      name: common/validate-addresses
    vars:
      address_list: "{{ docker_no_proxy }}"
    when: docker_no_proxy|length > 0

  - name: Add user defined no-proxy address list to default
    set_fact:
      docker_no_proxy_combined: "{{ default_no_proxy | union(docker_no_proxy) | ipwrap | unique }}"
  when: use_docker_proxy

- name: Set docker registry facts if not using default registries
  block:
  - name: Apply default credentials to all registries when 'defaults' section is provided
    # For example:
    #   - If user provides: docker_registries: { "defaults": { "username": "user", "password": "pass" } }
    #   - Then all registries (k8s_registry, gcr_registry, etc.) get these default credentials
    set_fact:
      use_defaults_from_user_provided_docker_registries: true
      k8s_registry: "{{ k8s_registry | combine(docker_registries_with_secrets['defaults'], recursive=true) }}"
      gcr_registry: "{{ gcr_registry | combine(docker_registries_with_secrets['defaults'], recursive=true) }}"
      quay_registry: "{{ quay_registry | combine(docker_registries_with_secrets['defaults'], recursive=true) }}"
      docker_registry: "{{ docker_registry | combine(docker_registries_with_secrets['defaults'], recursive=true) }}"
      elastic_registry: "{{ elastic_registry | combine(docker_registries_with_secrets['defaults'], recursive=true) }}"
      ghcr_registry: "{{ ghcr_registry | combine(docker_registries_with_secrets['defaults'], recursive=true) }}"
      registryk8s_registry: "{{ registryk8s_registry | combine(docker_registries_with_secrets['defaults'],
                            recursive=true) }}"
      icr_registry: "{{ icr_registry | combine(docker_registries_with_secrets['defaults'], recursive=true) }}"
    when: docker_registries['defaults'] is defined and docker_registries['defaults'] is not none
    no_log: true

  - name: Apply user-provided registry configurations by matching original registry URLs
    # This task looks up user configurations using the public registry URLs as keys.
    # For example:
    #   - If user provides: docker_registries: { "k8s.gcr.io": { "url": "registry.central:9001/k8s.gcr.io" } }
    #   - Then k8s_registry gets updated with the user's custom URL "registry.central:9001/k8s.gcr.io".
    set_fact:
      k8s_registry: "{{ k8s_registry | combine(_k8s_registry_secrets, recursive=true) }}"
      gcr_registry: "{{ gcr_registry | combine(_gcr_registry_secrets, recursive=true) }}"
      quay_registry: "{{ quay_registry | combine(_quay_registry_secrets, recursive=true) }}"
      docker_registry: "{{ docker_registry | combine(_docker_registry_secrets, recursive=true) }}"
      elastic_registry: "{{ elastic_registry | combine(_elastic_registry_secrets, recursive=true) }}"
      ghcr_registry: "{{ ghcr_registry | combine(_ghcr_registry_secrets, recursive=true) }}"
      registryk8s_registry: "{{ registryk8s_registry | combine(_registryk8s_registry_secrets, recursive=true) }}"
      icr_registry: "{{ icr_registry | combine(_icr_registry_secrets, recursive=true) }}"
    vars:
      _k8s_registry_secrets: >-
        {{ docker_registries_with_secrets.get("k8s.gcr.io", {})
          | dict2items
          | selectattr('value', 'truthy')
          | items2dict}}
      _gcr_registry_secrets: >-
        {{ docker_registries_with_secrets.get("gcr.io", {})
          | dict2items
          | selectattr('value', 'truthy')
          | items2dict}}
      _quay_registry_secrets: >-
        {{ docker_registries_with_secrets.get("quay.io", {})
          | dict2items
          | selectattr('value', 'truthy')
          | items2dict}}
      _docker_registry_secrets: >-
        {{ docker_registries_with_secrets.get("docker.io", {})
          | dict2items
          | selectattr('value', 'truthy')
          | items2dict}}
      _elastic_registry_secrets: >-
        {{ docker_registries_with_secrets.get("docker.elastic.co", {})
          | dict2items
          | selectattr('value', 'truthy')
          | items2dict}}
      _ghcr_registry_secrets: >-
        {{ docker_registries_with_secrets.get("ghcr.io", {})
          | dict2items
          | selectattr('value', 'truthy')
          | items2dict}}
      _registryk8s_registry_secrets: >-
        {{ docker_registries_with_secrets.get("registry.k8s.io", {})
          | dict2items
          | selectattr('value', 'truthy')
          | items2dict}}
      _icr_registry_secrets: >-
        {{ docker_registries_with_secrets.get("icr.io", {})
          | dict2items
          | selectattr('value', 'truthy')
          | items2dict}}
    no_log: true

  - name: Update use_public_registries flag
    set_fact:
      use_public_registries: false
    when: use_defaults_from_user_provided_docker_registries or
          docker_registries|length != default_docker_registries|length or
          k8s_registry.url != "k8s.gcr.io" or
          gcr_registry.url != "gcr.io" or
          quay_registry.url != "quay.io" or
          docker_registry.url != "docker.io" or
          elastic_registry.url != "docker.elastic.co" or
          ghcr_registry.url != "ghcr.io" or
          registryk8s_registry.url != "registry.k8s.io" or
          icr_registry.url != "icr.io"

  - block:
    - name: Validate registry type if specified
      fail:
        msg: "Registry type for {{ item.key }} is not supported. Valid value is either 'docker' or 'aws-ecr'."
      with_dict: "{{ docker_registries }}"
      when: (item.value.type is defined and
            item.value.type not in ['docker', 'aws-ecr'])

    - name: Fail if secure registry flag is misconfigured
      fail:
        msg: "'secure' parameter of registry {{ item.key }} is misconfigured. Valid value is either 'True' or 'False'."
      with_dict: "{{ docker_registries }}"
      when: (item.value.secure is defined and
            not (item.value.secure|type_debug == 'bool'))

    - name: Validate addresses of the registries addresses
      include_role:
        name: common/validate-addresses
      vars:
        address_list:
          - "{{ k8s_registry.url }}"
          - "{{ gcr_registry.url }}"
          - "{{ quay_registry.url }}"
          - "{{ docker_registry.url }}"
          - "{{ elastic_registry.url }}"
          - "{{ ghcr_registry.url }}"
          - "{{ registryk8s_registry.url }}"
          - "{{ icr_registry.url }}"

    when: not use_public_registries
