#
# Copyright (c) 2026 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

import yaml

filename="{{ tmp_workspace }}/{{ snapshot_content_name.key }}.yaml"

with open(filename, 'r') as f:
    data = yaml.safe_load(f)

rbd_or_cephfs = "{{ contents_type }}"
handle_id = "{{ rbd_pool_id.stdout }}"

data['metadata']['annotations']['snapshot.storage.kubernetes.io/deletion-secret-name'] = f"rook-csi-{rbd_or_cephfs}-provisioner"
data['metadata']['annotations']['snapshot.storage.kubernetes.io/deletion-secret-namespace'] = "rook-ceph"

if rbd_or_cephfs == "cephfs":
    handle_id = "{{ fscid }}"

normalized_volumeId = "-".join(data['spec']['source']['volumeHandle'].split("-")[-5:])
normalized_snapId = "-".join(data['status']['snapshotHandle'].split("-")[-5:])

data['spec']['driver'] = f"rook-ceph.{rbd_or_cephfs}.csi.ceph.com"
del data['spec']['source']['volumeHandle']
data['spec']['source']['snapshotHandle'] = f"0001-0009-rook-ceph-000000000000000{handle_id}-{normalized_volumeId}-{normalized_snapId}"
data['spec']['volumeSnapshotRef']['resourceVersion'] = "{{ vs_resource_version }}"
data['spec']['volumeSnapshotRef']['uid'] = "{{ vs_uid }}"

with open(filename, 'w') as f:
  yaml.dump(
      data,
      f,
      default_flow_style=False,
      sort_keys=False,
      indent=2
  )
