#
# Copyright (c) 2026 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

apiVersion: v1
kind: Secret
metadata:
  name: default-registry-key
  namespace: rook-ceph
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ registry_token }}
