apiVersion: v1
kind: Namespace
metadata:
  creationTimestamp: null
  name: {{ sc_adminep_ca_cert_ns }}
spec: {}
status: {}

---
apiVersion: v1
data:
  tls.crt: {{ sc_ca_cert }}
  tls.key: {{ sc_ca_key }}
kind: Secret
metadata:
  name: {{ sc_adminep_ca_cert_secret }}
  namespace: {{ sc_adminep_ca_cert_ns }}
type: kubernetes.io/tls

---
apiVersion: v1
items:
- apiVersion: cert-manager.io/v1
  kind: Issuer
  metadata:
    creationTimestamp: null
    name: sc-intermediate-ca-adminep-issuer
    namespace: {{ sc_adminep_ca_cert_ns }}
  spec:
    ca:
      secretName: {{ sc_adminep_ca_cert_secret }}
  status: {}
- apiVersion: cert-manager.io/v1
  kind: Certificate
  metadata:
    creationTimestamp: null
    name: {{ sc_adminep_cert_secret }}
    namespace: {{ sc_adminep_ca_cert_ns }}
  spec:
    commonName: "{{ controller_floating_address }}"
    duration: {{ sc_adminep_cert_duration }}
    ipAddresses:
    - "{{ controller_floating_address }}"
    issuerRef:
      kind: Issuer
      name: sc-intermediate-ca-adminep-issuer
    renewBefore: {{ sc_adminep_cert_renew_before }}
    secretName: {{ sc_adminep_cert_secret }}
  status: {}
kind: List
metadata: {}
