---
#
# Copyright (c) 2023,2025 Wind River Systems, Inc.
#
# SUB-TASKS DESCRIPTION:
#   These tasks configure the credentials used in TridentBackendConfig
#

- name: Configure the credentials used in TridentBackendConfig
  block:
    - name: Set Trident Backend Config secret filename
      set_fact:
        secret_file: "{{ trident_setup_dir }}/backend_secret-{{ backend_secret.metadata.name }}.yml"

    - name: Set Trident Backend Config secret headers
      set_fact:
        secret_headers:
          apiVersion: v1
          kind: Secret

    - name: Prepare Trident Backend Config secret content
      set_fact:
        secret_yaml: "{{ secret_headers | combine(backend_secret) }}"

    - name: Create Trident Backend Config secret yaml file
      copy:
        content: "{{ secret_yaml | to_nice_yaml }}"
        dest: "{{ secret_file }}"

    - name: Remove Trident Backend Config secret if it exists
      command: >-
        kubectl -n {{ trident_namespace }}
        --kubeconfig=/etc/kubernetes/admin.conf
        delete secret {{ backend_secret.metadata.name }}
      failed_when: false

    - name: Wait for TBC secret to be deleted
      command: >-
        kubectl --kubeconfig=/etc/kubernetes/admin.conf
        -n {{ trident_namespace }}
        get secret {{ backend_secret.metadata.name }}
      register: check
      until: check.rc == 1
      retries: 60
      delay: 10
      failed_when: check.rc != 1
      changed_when: false

    - name: Create Trident Backend Config secret
      command: "kubectl -n {{ trident_namespace }} --kubeconfig=/etc/kubernetes/admin.conf apply -f {{ secret_file }}"

    - name: Wait for TBC secret to be created
      command: >-
        kubectl --kubeconfig=/etc/kubernetes/admin.conf
        -n {{ trident_namespace }}
        get secret {{ backend_secret.metadata.name }}
      register: check
      until: check.rc == 0
      retries: 60
      delay: 10
      changed_when: false

  always:
    - name: Remove Trident Backend Config secret yaml file
      file:
        path: "{{ secret_file }}"
        state: absent
