---
#
# Copyright (c) 2022-2023 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#
# ROLE DESCRIPTION:
#   This role restores a subcloud from the specified backup file(s)
#   or software release.
#
- name: Validate user input
  import_tasks: validate_input.yml

- name: Prepare and transfer restore overrides to {{ inventory_hostname }}
  import_role:
    name: common/prepare-and-transfer-subcloud-overrides

- name: Perform platform restore
  import_tasks: do_platform_restore.yml

- name: Perform images restore
  import_tasks: do_images_restore.yml
  when: restore_registry_images and not optimized_bnr_supported

- name: Perform host unlock
  include_role:
    name: common/host-unlock
  vars:
    target_host: 'controller-0'
    wait_for_unlock: true
    distributed_cloud_role: 'subcloud'

# Restore complete can only be sent for AIO-SX currently.
# During restore for DX/standard deployments, the remaining nodes
# must be resinstalled and unlocked before restore-complete is sent.
# The reinstallation/unlock of other nodes plus restore-complete
# must be handled as a manual process by the sysadmin in these cases for now.
- name: Run system restore-complete
  shell: source /etc/platform/openrc; system restore-complete
  register: restore_complete_result
  until: restore_complete_result.stdout == "Restore procedure completed"
  retries: 15
  delay: 10
  when: subcloud_is_aio_sx
