#
# Copyright (c) 2026 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

apiVersion: v1
kind: Secret
metadata:
  name: rook-migration-registry-local-secret
  namespace: {{ namespace }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ b64_docker_config_json }}
