---
#
# Copyright (c) 2023 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#
# TASKS DESCRIPTION:
#   These task performs the following:
#     - download images in the images list if specified and push them to the
#       local registry.
#     - archive the snapshot of the registry filesystem and save it in the
#       prestage directory.
#

- block:
  # The following task will generate the docker_registries dictionary used for images download
  - name: Retrieve the configured docker registries
    import_tasks: get_docker_registries.yml

  - name: Log in the docker registries that are authenticated
    docker_login:
      registry: "{{ item.value.url }}"
      username: "{{ item.value.username }}"
      password: "{{ item.value.password }}"
    register: login_result
    retries: 10
    delay: 5
    until: login_result is succeeded
    loop: "{{ docker_registries|dict2items }}"
    when: item.value.username is defined
    no_log: true

  - name: Download container images for prestage
    script: >
      roles/common/push-docker-images/files/download_images.py
      "{{ image_list | unique | join(',') }}"
    register: download_images_output
    retries: "{{ download_retries | default(10) }}"
    delay: "{{ retry_delay | default(5) }}"
    until: (download_images_output.rc == 0 or "HARD FAIL" in download_images_output.stdout)
    failed_when: download_images_output.rc != 0
    environment:
      REGISTRIES: "{{ docker_registries | to_json }}"
      PRESTAGE_DOWNLOAD: yes

  - debug: var=download_images_output.stdout_lines

  - name: Log out of the authenticated registries
    docker_login:
      registry: "{{ item.value.url }}"
      state: absent
    loop: "{{ docker_registries|dict2items }}"
    when: item.value.username is defined
    no_log: true

  always:
    - name: Clear docker cache
      command: docker image prune -af
      failed_when: false
  when: image_list

- name: Take a snapshot of the local registry filesystem
  import_role:
    name: common/generate-registry-filesystem-archive
  vars:
    registry_archive_fqpn: "{{ prestage_dir }}/local_registry_filesystem.tgz"
