---
#
# Copyright (c) 2024-2025 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#
#   This role is to validate the target host environment before proceeding
#   to the next step.
#

- name: Initialize some facts to be used in subsequent roles/tasks
  set_fact:
    use_docker_proxy: false
    use_public_registries: true
    k8s_registry: "{{ default_docker_registries['k8s.gcr.io'] }}"
    gcr_registry: "{{ default_docker_registries['gcr.io'] }}"
    quay_registry: "{{ default_docker_registries['quay.io'] }}"
    docker_registry: "{{ default_docker_registries['docker.io'] }}"
    elastic_registry: "{{ default_docker_registries['docker.elastic.co'] }}"
    ghcr_registry: "{{ default_docker_registries['ghcr.io'] }}"
    registryk8s_registry: "{{ default_docker_registries['registry.k8s.io'] }}"
    icr_registry: "{{ default_docker_registries['icr.io'] }}"

- name: Turn on use_docker_proxy flag
  set_fact:
    use_docker_proxy: true
  when: (docker_http_proxy is defined and docker_http_proxy is not none) or
        (docker_https_proxy is defined and docker_https_proxy is not none)

- name: Save the list of user defined registry keys
  set_fact:
    user_defined_registry_keys: "{{ docker_registries.keys() | list }}"

- name: Merge user and default registries dictionaries
  set_fact:
    docker_registries: "{{ default_docker_registries | combine(docker_registries) }}"
  no_log: true

- debug:
    msg: |
      Docker registries are
      {%+ for k, v in docker_registries.items() %}
      {%+ if "password" in v %}
      {%+ set _ = v.update({"password": "REDACTED"}) %}
      {%+ endif %}
        {{ k }}:
          {{ (v | to_nice_yaml | indent(4)).rstrip() }}
      {%+ endfor %}

- name: Validate registry configurations
  import_role:
    name: common/validate-registries

- name: Initialize address pairs secondary
  set_fact:
    address_pairs_secondary: { }

- name: Validate admin network configuration
  block:
  - name: Build admin address primary pairs for validation
    set_fact:
      admin_pairs:
        admin:
          start:
            "{{ network_params.admin_start_address_primary if admin_start_address != 'derived'
            else default_admin_start_address_primary }}"
          end:
            "{{ network_params.admin_end_address_primary if admin_end_address != 'derived'
            else default_admin_end_address_primary }}"
          subnet: "{{ network_params.admin_subnet_primary }}"

  - include_tasks: roles/common/validate-addresses/tasks/validate_address_range.yml
    with_dict: "{{ admin_pairs }}"

  # admin secondary pairs validation if defined
  - block:
    - name: Build admin address secondary pairs for validation
      set_fact:
        admin_pairs_secondary:
          admin:
            start:
              "{{ network_params.admin_start_address_secondary if admin_start_address != 'derived'
              else default_admin_start_address_secondary }}"
            end:
              "{{ network_params.admin_end_address_secondary if admin_end_address != 'derived'
              else default_admin_end_address_secondary }}"
            subnet: "{{ network_params.admin_subnet_secondary }}"

    - include_tasks: roles/common/validate-addresses/tasks/validate_address_range.yml
      with_dict: "{{ admin_pairs_secondary }}"

    - name: Group secondary address pairs
      set_fact:
        address_pairs_secondary: "{{ address_pairs_secondary |combine({item.key: item.value}) }}"
      with_dict: "{{ admin_pairs_secondary }}"
    when: network_params.admin_subnet_secondary
  when: admin_network is defined

- name: Build management address primary pairs for validation
  set_fact:
    management_pairs:
      management:
        start:
          "{{ network_params.management_start_address_primary if management_start_address != 'derived'
          else default_management_start_address_primary }}"
        end:
          "{{ network_params.management_end_address_primary if management_end_address != 'derived'
          else default_management_end_address_primary }}"
        subnet: "{{ network_params.management_subnet_primary }}"

- include_tasks: roles/common/validate-addresses/tasks/validate_address_range.yml
  with_dict: "{{ management_pairs }}"

- name: Validate oam secondary network configuration
  block:
  - name: Build oam address secondary pairs for validation
    set_fact:
      oam_address_pairs_secondary:
        oam:
          start:
            "{{ network_params.external_oam_start_address_secondary if external_oam_start_address != 'derived'
            else default_external_oam_start_address_secondary }}"
          end:
            "{{ network_params.external_oam_end_address_secondary if external_oam_end_address != 'derived'
            else default_external_oam_end_address_secondary }}"
          subnet: "{{ network_params.external_oam_subnet_secondary }}"
        oam_node:
          start: "{{ derived_network_params.oam_node_0_address_secondary }}"
          end: "{{ derived_network_params.oam_node_1_address_secondary }}"
          subnet: "{{ network_params.external_oam_subnet_secondary }}"

  - include_tasks: roles/common/validate-addresses/tasks/validate_address_range.yml
    with_dict: "{{ oam_address_pairs_secondary }}"

  - name: Group secondary address pairs
    set_fact:
      address_pairs_secondary: "{{ address_pairs_secondary |combine({item.key: item.value}) }}"
    with_dict: "{{ oam_address_pairs_secondary }}"
  when: network_params.external_oam_subnet_secondary

- name: Wait until cloud-init finalized reconfiguration
  wait_for:
    path: "{{ enroll_init_finalized }}"
    state: present
    timeout: 900
    msg: >-
      Timeout waiting for cloud-init finalizing reconfiguration. Check the
      cloud-init-output.log on the subcloud for the reason.
