# Copyright (c) 2024 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#
#   Sub-tasks description:
#     - Delete existing Barbican secrets for regsitry if credentials exist
#     - Create Barbican secret for registry if credentials exist
#

- name: "List all secrets for {{ registry_name }}"
  shell: >
    source /etc/platform/openrc;
    openstack secret list --name "{{ registry_name }}-registry-secret" -c 'Secret href' -f value
  register: secrets_list

- name: "Delete secrets for {{ registry_name }}"
  shell: >
    source /etc/platform/openrc;
    openstack secret delete "{{ secret_id }}"
  loop: "{{ secrets_list.stdout_lines }}"
  loop_control:
    loop_var: secret_id
  when: secrets_list.stdout | length > 0

- name: "Create Barbican secret for {{ registry_name }} registry if credentials exist"
  shell: >
    source /etc/platform/openrc;
    openstack secret store -n "{{ registry_name }}-registry-secret"
    -p 'username:{{ registry_username }} password:{{ registry_password }}'
    -c 'Secret href' -f value
  register: registry_secret_output
  no_log: true
  when: registry_username is defined and registry_username | length > 0

- name: "Set fact for {{ registry_name }} registry secret"
  set_fact:
    "{{ registry_name }}_registry_secret": "{{ registry_secret_output.stdout }}"
  when: registry_secret_output.stdout is defined
