# Overrides yaml file for armada chart
images:
  tags:
    api: 'registry.local:9001/quay.io/airshipit/armada:8a1638098f88d92bf799ef4934abe569789b885e-ubuntu_bionic'
    dep_check: 'registry.local:9001/quay.io/stackanetes/kubernetes-entrypoint:v0.3.1'
    tiller: 'registry.local:9001/gcr.io/kubernetes-helm/tiller:v2.16.1'
labels:
  # Configure sane node labels values that work with armada node selector.
  # Helm v3 validation prevents null overrides.
  job:
    node_selector_key: armada
    node_selector_value: enabled
  test:
    node_selector_key: armada
    node_selector_value: enabled
  node_selector_key: armada
  node_selector_value: enabled
pod:
  mandatory_access_control:
    type: none
  replicas:
    api: 1
  probes:
    armada:
      api:
        liveness:
          enabled: false
          params:
            initialDelaySeconds: 15
            periodSeconds: 10
        readiness:
          enabled: false
          params:
            initialDelaySeconds: 15
            periodSeconds: 10
      tiller:
        liveness:
          enabled: true
          params:
            failureThreshold: 3
            initialDelaySeconds: 1
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
        readiness:
          enabled: true
          params:
            failureThreshold: 3
            initialDelaySeconds: 1
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
endpoints:
  identity:
    auth:
      armada:
        password: {{ armada_default_password }}
        project_domain_name: default
        project_name: default
        region_name: RegionOne
        user_domain_name: default
        username: admin
      armada:
        password: {{ armada_password }}
        project_domain_name: {{ armada_domain }}
        project_name: service
        region_name: RegionOne
        user_domain_name: {{ armada_domain }}
        username: {{ armada_user }}
    host_fqdn_override:
      default: {{ controller_floating_address }}
dependencies:
  static:
    api:
      jobs: []
      services: []
    ks_endpoints:
      jobs: []
      services: []
    ks_service:
      services: []
    ks_user:
      services: []
manifests:
  job_ks_service: false
  job_ks_endpoints: false
  job_ks_user: false
conf:
  tiller:
    charts_url: {{ helm_charts_url }}
    repo_names:
      - {{ helm_repo_name_apps }}
      - {{ helm_repo_name_platform }}
