[req]
prompt = no
x509_extensions = v3_req
distinguished_name = dn
[dn]
CN = registry.local
[v3_req]
subjectAltName = @alt_names
[alt_names]
DNS.1 = registry.local
DNS.2 = registry.central
IP.1 = "{{ docker_registry_ip }}"
IP.2 = "{{ docker_registry_public_ip }}"
