apiVersion: apiserver.config.k8s.io/v1
kind: EncryptionConfiguration
resources:
  - resources:
    - secrets
    providers:
    - aescbc:
        keys:
{% for key in aescbc_keys %}
        - name: {{key['name']}}
          secret: {{key['secret']}}
{% endfor %}
    - identity: {}
