---
#
# Copyright (c) 2019-2020 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#
# ROLE DESCRIPTION:
#   This role is to perform tasks that download container images
#   from public/private registries and push to local registry.
#

- name: Get docker registries if not in bootstap or restore mode
  include: get_docker_registry.yml registry={{ item }}
  with_items:
    - { name: 'k8s_registry', value: { url: 'k8s.gcr.io' } }
    - { name: 'gcr_registry', value: { url: 'gcr.io' } }
    - { name: 'quay_registry', value: { url: 'quay.io' } }
    - { name: 'docker_registry', value: { url: 'docker.io' } }
    - { name: 'elastic_registry', value: { url: 'docker.elastic.co' } }
  when: mode is regex("^upgrade_") or
        mode == 'trident_install'


# Disable the log to not expose registry password
- name: Get registry credentials if registry type is AWS ECR
  include: get_aws_ecr_credentials.yml registry={{ item }}
  with_items:
    - { name: "k8s_registry", value: "{{ k8s_registry }}" }
    - { name: "gcr_registry", value: "{{ gcr_registry }}" }
    - { name: "quay_registry", value: "{{ quay_registry }}" }
    - { name: "docker_registry", value: "{{ docker_registry }}" }
    - { name: "elastic_registry", value: "{{ elastic_registry }}" }
  when: registry.value.type is defined and
        registry.value.type == 'aws-ecr'
  no_log: true

- block:
  - set_fact:
      kubernetes_version: "{{ lookup('file', 'roles/common/files/kubeadm.yaml.erb') |
        regex_search('^kubernetesVersion: (.*)$', multiline=True) | regex_replace('^(.*): (.*)$', '\\2')}}"
  when: mode == 'bootstrap' or
        mode == 'restore' or
        mode == 'trident_install'

- block:
  - name: Get the list of kubernetes images
    shell: "kubeadm --kubeconfig=/etc/kubernetes/admin.conf config images list --kubernetes-version {{ kubernetes_version }}"
    register: kubernetes_images_output

  - set_fact:
      kubernetes_images: "{{ kubernetes_images_output.stdout_lines }}"

  - include_vars:
      dir: "vars/k8s-{{ kubernetes_version }}"
      files_matching: "system-images.yml"

  - name: Get the list of platform images
    set_fact:
      networking_images:
        - "{{ calico_cni_img }}"
        - "{{ calico_node_img }}"
        - "{{ calico_kube_controllers_img }}"
        - "{{ calico_flexvol_img }}"
        - "{{ multus_img }}"
        - "{{ sriov_cni_img }}"
        - "{{ sriov_network_device_img }}"
      static_images:
        - "{{ tiller_img }}"
        - "{{ armada_img }}"
        - "{{ n3000_opae_img }}"
        - "{{ kubernetes_entrypoint_img }}"
      storage_images:
        - "{{ snapshot_controller_img }}"
  when: kubernetes_version is defined

# Download all system images and additional images if bootstrap or restore
- name: Set download images list
  set_fact:
    download_images_list:
      "{{ (kubernetes_images + networking_images + static_images + storage_images + additional_local_registry_images)
      if (additional_local_registry_images is defined and additional_local_registry_images|length > 0)
      else (kubernetes_images + networking_images + static_images + storage_images) }}"
  when: mode == 'bootstrap' or
        mode == 'restore'

# Only download static images if static images upgrade
- name: Set download images list to static images if upgrading static images
  set_fact:
    download_images_list: "{{ download_images_list|default([]) + static_images }}"
  when: mode == 'upgrade_static_images'

# Only download k8s networking images if k8s networking upgrade
- name: Set download images list to k8s network images if upgrading k8s networking
  set_fact:
    download_images_list: "{{ download_images_list|default([]) + networking_images }}"
  when: mode == 'upgrade_k8s_networking'

# Only download kubernetes images if kubernetes upgrade
- name: Set download images list to kubernetes images if upgrading kubernetes
  set_fact:
    download_images_list: "{{ download_images_list|default([]) + kubernetes_images }}"
  when: mode == 'upgrade_kubernetes'

- name: Set download images list to netapp images if installing trident
  set_fact:
    download_images_list: "{{ download_images_list|default([]) + trident_images + storage_images }}"
  when: mode == 'trident_install'

- set_fact:
    download_images: "{{ download_images_list | join(',') }}"

- debug: var=download_images_list

- name: Set registries information
  set_fact:
    registries:
      "{{ (registries|default({})) | combine({item.default_url:item.replaced_url}, recursive=true)}}"
  with_items:
    - { default_url: 'k8s.gcr.io', replaced_url: "{{ k8s_registry.url }}" }
    - { default_url: 'gcr.io', replaced_url: "{{ gcr_registry.url }}" }
    - { default_url: 'quay.io', replaced_url: "{{ quay_registry.url }}" }
    - { default_url: 'docker.io', replaced_url: "{{ docker_registry.url }}" }
    - { default_url: 'docker.elastic.co', replaced_url: "{{ elastic_registry.url }}" }

# Disable the log to not expose registry password
- name: Log in k8s, gcr, quay, docker registries if credentials exist
  docker_login:
    registry: "{{ item['url'] }}"
    username: "{{ item['username'] }}"
    password: "{{ item['password'] }}"
  with_items:
    - "{{ k8s_registry }}"
    - "{{ gcr_registry }}"
    - "{{ quay_registry }}"
    - "{{ docker_registry }}"
  when: item.username is defined
  no_log: true

# Retrieve local registry credentials unless it has been already
- block:
  - name: Get local registry credentials
    vars:
      script_content: |
        import keyring
        password = keyring.get_password("CGCS", "admin")
        if not password:
            raise Exception("Local registry password not found.")
        print dict(username='admin', password=str(password))
    shell: "{{ script_content }}"
    args:
      executable: /usr/bin/python
    register: local_registry_credentials_output

  - set_fact:
      local_registry_credentials: "{{ local_registry_credentials_output.stdout }}"
  when: local_registry_credentials is not defined

- name: Download images and push to local registry
  script: download_images.py {{ download_images }}
  register: download_images_output
  environment:
    REGISTRIES: "{{ registries | to_json }}"

- debug:
    msg: "{{ download_images_output.stdout_lines }}"

# Disable the log to not expose registry password
- name: Log out of k8s, gcr, quay, docker registries if credentials exist
  docker_login:
    registry: "{{ item['url'] }}"
    state: absent
  with_items:
    - "{{ k8s_registry }}"
    - "{{ gcr_registry }}"
    - "{{ quay_registry }}"
    - "{{ docker_registry }}"
  when: item.username is defined
  no_log: true
