## strips out any bad character from region name. Only [^A-Za-z0-9-]" is supported
{% set clean_region_name = region_name.stdout | replace("_", "-") | regex_replace("[^A-Za-z0-9-]","") | lower %}
---
apiVersion: v1
data:
  tls.crt: "{{ system_local_ca_cert }}"
  tls.key: "{{ system_local_ca_key }}"
kind: Secret
metadata:
  name: system-local-ca
  namespace: cert-manager
type: kubernetes.io/tls
---
apiVersion: v1
items:
- apiVersion: cert-manager.io/v1
  kind: ClusterIssuer
  metadata:
    creationTimestamp: null
    name: system-local-ca
  spec:
    ca:
      secretName: system-local-ca
  status: {}
{% if https_enabled.stdout | bool %}
- apiVersion: cert-manager.io/v1
  kind: Certificate
  metadata:
    creationTimestamp: null
    name: system-restapi-gui-certificate
    namespace: deployment
  spec:
    commonName: "{{ oam_ip.stdout }}"
    dnsNames:
    - "{{ clean_region_name }}.{{ dns_domain }}"
    duration: "{{ duration }}"
    ipAddresses:
    - "{{ oam_ip.stdout }}"
    issuerRef:
      kind: ClusterIssuer
      name: system-local-ca
    renewBefore: "{{ renewBefore }}"
    secretName: system-restapi-gui-certificate
    subject:
      countries:
      - "{{ subject_C }}"
      localities:
      - "{{ subject_L }}"
      - "{{ subject_prefix + ':' if subject_prefix is defined else '' }}{{ clean_region_name }}:system-restapi-gui"
      organizationalUnits:
      - "{{ subject_OU }}"
      organizations:
      - "{{ subject_O }}"
      provinces:
      - "{{ subject_ST }}"
  status: {}
{% endif %}
- apiVersion: cert-manager.io/v1
  kind: Certificate
  metadata:
    creationTimestamp: null
    name: system-registry-local-certificate
    namespace: deployment
  spec:
    commonName: "{{ oam_ip.stdout }}"
    dnsNames:
    - "{{ clean_region_name }}.{{ dns_domain }}"
    - registry.local
{% if distributed_cloud_role.stdout == 'systemcontroller' %}
    - registry.central
{% endif %}
    duration: "{{ duration }}"
    ipAddresses:
    - "{{ oam_ip.stdout }}"
    - "{{ management_ip.stdout }}"
    issuerRef:
      kind: ClusterIssuer
      name: system-local-ca
    renewBefore: "{{ renewBefore }}"
    secretName: system-registry-local-certificate
    subject:
      countries:
      - "{{ subject_C }}"
      localities:
      - "{{ subject_L }}"
      - "{{ subject_prefix + ':' if subject_prefix is defined else '' }}{{ clean_region_name }}:system-registry-local"
      organizationalUnits:
      - "{{ subject_OU }}"
      organizations:
      - "{{ subject_O }}"
      provinces:
      - "{{ subject_ST }}"
  status: {}
{% if oidc_applied.stdout | bool %}
- apiVersion: cert-manager.io/v1
  kind: Certificate
  metadata:
    creationTimestamp: null
    name: oidc-auth-apps-certificate
    namespace: kube-system
  spec:
    commonName: "{{ oam_ip.stdout }}"
    dnsNames:
    - "{{ clean_region_name }}.{{ dns_domain }}"
    duration: "{{ duration }}"
    ipAddresses:
    - "{{ oam_ip.stdout }}"
    # Add kubernetes cluster ip to make sure certificate has issuer ip in san list
    # https://bugs.launchpad.net/starlingx/+bug/1971500
    - "{{ kubernetes_cluster_floating_ip.stdout }}"
    - "{{ kubernetes_cluster_c0_ip.stdout }}"
    - "{{ kubernetes_cluster_c1_ip.stdout }}"
    issuerRef:
      kind: ClusterIssuer
      name: system-local-ca
    renewBefore: "{{ renewBefore }}"
    secretName: oidc-auth-apps-certificate
    subject:
      countries:
      - "{{ subject_C }}"
      localities:
      - "{{ subject_L }}"
      - "{{ subject_prefix + ':' if subject_prefix is defined else '' }}{{ clean_region_name }}:system-oidc-dex"
      organizationalUnits:
      - "{{ subject_OU }}"
      organizations:
      - "{{ subject_O }}"
      provinces:
      - "{{ subject_ST }}"
  status: {}
{% endif %}
kind: List
metadata: {}
