---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  # STX_change: configurable namespace
  namespace: {{ trident_namespace }}
  name: trident-controller
  labels:
    app: controller.csi.trident.netapp.io
rules:
  - apiGroups: [""]
    resources: ["pods/log"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "list", "watch", "create", "delete", "update", "patch"]
