[BOOTSTRAP_CONFIG]
CONTROLLER_HOSTNAME=controller-0
SYSTEM_TYPE={{ system_type }}
SYSTEM_MODE={{ system_mode }}
VIRTUAL_SYSTEM={{ virtual_system | default(False) }}
TIMEZONE={{ timezone }}
DISTRIBUTED_CLOUD_ROLE={{ distributed_cloud_role }}
REGION_NAME={{ region_name }}
SW_VERSION={{ software_version }}
NAMESERVERS={{ dns_servers | join(',') }}
PXEBOOT_SUBNET={{ pxeboot_subnet }}
PXEBOOT_START_ADDRESS={{ address_pairs['pxeboot']['start'] }}
PXEBOOT_END_ADDRESS={{ address_pairs['pxeboot']['end'] }}
PXEBOOT_FLOATING_ADDRESS={{ address_pairs['pxeboot']['floating'] }}
MANAGEMENT_SUBNET={{ address_pairs['management']['subnet'] }}
MANAGEMENT_START_ADDRESS={{ address_pairs['management']['start'] }}
MANAGEMENT_END_ADDRESS={{ address_pairs['management']['end'] }}
MANAGEMENT_FLOATING_ADDRESS={{ network_params.management_floating_address_primary
                              if (network_params.management_floating_address_primary is defined
                                  and network_params.management_floating_address_primary)
                              else 'undef' }}
MANAGEMENT_GATEWAY_ADDRESS={{ network_params.management_gateway_address_primary
                              if network_params.management_gateway_address_primary
                              else 'undef' }}
MANAGEMENT_DYNAMIC_ADDRESS_ALLOCATION={{ management_dynamic_address_allocation }}
MANAGEMENT_INTERFACE=lo
CONTROLLER_0_ADDRESS={{ derived_network_params.controller_0_address }}
CLUSTER_HOST_SUBNET={{ address_pairs['cluster_host']['subnet'] }}
CLUSTER_HOST_START_ADDRESS={{ address_pairs['cluster_host']['start'] }}
CLUSTER_HOST_END_ADDRESS={{ address_pairs['cluster_host']['end'] }}
CLUSTER_HOST_FLOATING_ADDRESS={{ network_params.cluster_host_floating_address_primary
                              if (network_params.cluster_host_floating_address_primary is defined
                                  and network_params.cluster_host_floating_address_primary)
                              else 'undef' }}
CLUSTER_HOST_DYNAMIC_ADDRESS_ALLOCATION={{ cluster_host_dynamic_address_allocation }}
CLUSTER_POD_SUBNET={{ address_pairs['cluster_pod']['subnet'] }}
CLUSTER_POD_START_ADDRESS={{ address_pairs['cluster_pod']['start'] }}
CLUSTER_POD_END_ADDRESS={{ address_pairs['cluster_pod']['end'] }}
CLUSTER_SERVICE_SUBNET={{ address_pairs['cluster_service']['subnet'] }}
CLUSTER_SERVICE_START_ADDRESS={{ address_pairs['cluster_service']['start'] }}
CLUSTER_SERVICE_END_ADDRESS={{ address_pairs['cluster_service']['end'] }}
EXTERNAL_OAM_SUBNET={{ address_pairs['oam']['subnet'] }}
EXTERNAL_OAM_START_ADDRESS={{ address_pairs['oam']['start'] }}
EXTERNAL_OAM_END_ADDRESS={{ address_pairs['oam']['end'] }}
EXTERNAL_OAM_GATEWAY_ADDRESS={{ network_params.external_oam_gateway_address_primary }}
EXTERNAL_OAM_FLOATING_ADDRESS={{ network_params.external_oam_floating_address_primary }}
EXTERNAL_OAM_0_ADDRESS={{ address_pairs['oam_node']['start'] }}
EXTERNAL_OAM_1_ADDRESS={{ address_pairs['oam_node']['end'] }}
MANAGEMENT_MULTICAST_SUBNET={{ address_pairs['multicast']['subnet'] }}
MANAGEMENT_MULTICAST_START_ADDRESS={{ address_pairs['multicast']['start'] }}
MANAGEMENT_MULTICAST_END_ADDRESS={{ address_pairs['multicast']['end'] }}
SYSTEM_CONTROLLER_SUBNET={{ system_controller_subnet }}
SYSTEM_CONTROLLER_FLOATING_ADDRESS={{ system_controller_floating_address }}
SYSTEM_CONTROLLER_OAM_SUBNET={{ system_controller_oam_subnet }}
SYSTEM_CONTROLLER_OAM_FLOATING_ADDRESS={{ system_controller_oam_floating_address }}
ADMIN_SUBNET={{ address_pairs['admin']['subnet'] | default('undef') }}
ADMIN_START_ADDRESS={{ address_pairs['admin']['start'] | default('undef') }}
ADMIN_END_ADDRESS={{ address_pairs['admin']['end'] | default('undef') }}
ADMIN_GATEWAY_ADDRESS={{ network_params.admin_gateway_address_primary
                        if (network_params.admin_gateway_address_primary is defined
                            and network_params.admin_gateway_address_primary)
                        else 'undef' }}
ADMIN_FLOATING_ADDRESS={{ network_params.admin_floating_address_primary
                        if (network_params.admin_floating_address_primary is defined
                            and network_params.admin_floating_address_primary)
                        else 'undef' }}
ADMIN_INTERFACE={{ 'lo' if admin_network is defined else 'undef' }}
{# -- start of secondary of dual-stack support #}
MANAGEMENT_SUBNET_SECONDARY={{ address_pairs_secondary['management']['subnet'] | default('undef') }}
MANAGEMENT_START_ADDRESS_SECONDARY={{ address_pairs_secondary['management']['start'] | default('undef') }}
MANAGEMENT_END_ADDRESS_SECONDARY={{ address_pairs_secondary['management']['end'] | default('undef') }}
MANAGEMENT_FLOATING_ADDRESS_SECONDARY={{ network_params.management_floating_address_secondary
                              if (network_params.management_floating_address_secondary is defined
                                  and network_params.management_floating_address_secondary)
                              else 'undef' }}
MANAGEMENT_GATEWAY_ADDRESS_SECONDARY={{ network_params.management_gateway_address_secondary
                              if network_params.management_gateway_address_secondary
                              else 'undef' }}
CLUSTER_HOST_SUBNET_SECONDARY={{ address_pairs_secondary['cluster_host']['subnet']  | default('undef') }}
CLUSTER_HOST_START_ADDRESS_SECONDARY={{ address_pairs_secondary['cluster_host']['start'] | default('undef') }}
CLUSTER_HOST_END_ADDRESS_SECONDARY={{ address_pairs_secondary['cluster_host']['end'] | default('undef') }}
CLUSTER_HOST_FLOATING_ADDRESS_SECONDARY={{ network_params.cluster_host_floating_address_secondary
                              if (network_params.cluster_host_floating_address_secondary is defined
                                  and network_params.cluster_host_floating_address_secondary)
                              else 'undef' }}
CLUSTER_POD_SUBNET_SECONDARY={{ address_pairs_secondary['cluster_pod']['subnet'] | default('undef') }}
CLUSTER_POD_START_ADDRESS_SECONDARY={{ address_pairs_secondary['cluster_pod']['start'] | default('undef') }}
CLUSTER_POD_END_ADDRESS_SECONDARY={{ address_pairs_secondary['cluster_pod']['end'] | default('undef') }}
CLUSTER_SERVICE_SUBNET_SECONDARY={{ address_pairs_secondary['cluster_service']['subnet'] | default('undef') }}
CLUSTER_SERVICE_START_ADDRESS_SECONDARY={{ address_pairs_secondary['cluster_service']['start'] | default('undef') }}
CLUSTER_SERVICE_END_ADDRESS_SECONDARY={{ address_pairs_secondary['cluster_service']['end'] | default('undef') }}
EXTERNAL_OAM_SUBNET_SECONDARY={{ address_pairs_secondary['oam']['subnet'] | default('undef') }}
EXTERNAL_OAM_START_ADDRESS_SECONDARY={{ address_pairs_secondary['oam']['start'] | default('undef') }}
EXTERNAL_OAM_END_ADDRESS_SECONDARY={{ address_pairs_secondary['oam']['end'] | default('undef') }}
EXTERNAL_OAM_GATEWAY_ADDRESS_SECONDARY={{ network_params.external_oam_gateway_address_secondary | default('undef') }}
EXTERNAL_OAM_FLOATING_ADDRESS_SECONDARY={{ network_params.external_oam_floating_address_secondary | default('undef') }}
EXTERNAL_OAM_0_ADDRESS_SECONDARY={{ address_pairs_secondary['oam_node']['start'] | default('undef') }}
EXTERNAL_OAM_1_ADDRESS_SECONDARY={{ address_pairs_secondary['oam_node']['end'] | default('undef') }}
MANAGEMENT_MULTICAST_SUBNET_SECONDARY={{ address_pairs_secondary['multicast']['subnet'] | default('undef') }}
MANAGEMENT_MULTICAST_START_ADDRESS_SECONDARY={{ address_pairs_secondary['multicast']['start'] | default('undef') }}
MANAGEMENT_MULTICAST_END_ADDRESS_SECONDARY={{ address_pairs_secondary['multicast']['end'] | default('undef') }}
ADMIN_SUBNET_SECONDARY={{ address_pairs_secondary['admin']['subnet'] | default('undef') }}
ADMIN_START_ADDRESS_SECONDARY={{ address_pairs_secondary['admin']['start'] | default('undef') }}
ADMIN_END_ADDRESS_SECONDARY={{ address_pairs_secondary['admin']['end'] | default('undef') }}
ADMIN_GATEWAY_ADDRESS_SECONDARY={{ network_params.admin_gateway_address_secondary
                                   if (network_params.admin_gateway_address_secondary is defined
                                      and network_params.admin_gateway_address_secondary)
                                      else 'undef' }}
ADMIN_FLOATING_ADDRESS_SECONDARY={{ network_params.admin_floating_address_secondary
                        if (network_params.admin_floating_address_secondary is defined
                            and network_params.admin_floating_address_secondary)
                        else 'undef' }}
{# -- end of secondary of dual-stack support #}
DOCKER_HTTP_PROXY={{ docker_http_proxy }}
DOCKER_HTTPS_PROXY={{ docker_https_proxy }}
DOCKER_NO_PROXY={{ docker_no_proxy_combined | join(',') }}
K8S_REGISTRY={{ k8s_registry.url }}
GCR_REGISTRY={{ gcr_registry.url }}
QUAY_REGISTRY={{ quay_registry.url }}
DOCKER_REGISTRY={{ docker_registry.url }}
ELASTIC_REGISTRY={{ elastic_registry.url }}
GHCR_REGISTRY={{ ghcr_registry.url }}
REGISTRYK8S_REGISTRY={{ registryk8s_registry.url }}
ICR_REGISTRY={{ icr_registry.url }}
K8S_REGISTRY_TYPE={{ k8s_registry.type | default('docker') }}
GCR_REGISTRY_TYPE={{ gcr_registry.type | default('docker') }}
QUAY_REGISTRY_TYPE={{ quay_registry.type | default('docker') }}
DOCKER_REGISTRY_TYPE={{ docker_registry.type | default('docker') }}
ELASTIC_REGISTRY_TYPE={{ elastic_registry.type | default('docker') }}
GHCR_REGISTRY_TYPE={{ ghcr_registry.type | default('docker') }}
REGISTRYK8S_REGISTRY_TYPE={{ registryk8s_registry.type | default('docker') }}
ICR_REGISTRY_TYPE={{ icr_registry.type | default('docker') }}
K8S_REGISTRY_SECURE={{ k8s_registry.secure | default(True) }}
GCR_REGISTRY_SECURE={{ gcr_registry.secure | default(True) }}
QUAY_REGISTRY_SECURE={{ quay_registry.secure | default(True) }}
DOCKER_REGISTRY_SECURE={{ docker_registry.secure | default(True) }}
ELASTIC_REGISTRY_SECURE={{ elastic_registry.secure | default(True) }}
GHCR_REGISTRY_SECURE={{ ghcr_registry.secure | default(True) }}
REGISTRYK8S_REGISTRY_SECURE={{ registryk8s_registry.secure | default(True) }}
ICR_REGISTRY_SECURE={{ icr_registry.secure | default(True) }}
K8S_REGISTRY_ADDITIONAL_OVERRIDES={{ k8s_registry.additional_overrides | default('undef') }}
GCR_REGISTRY_ADDITIONAL_OVERRIDES={{ gcr_registry.additional_overrides | default('undef') }}
QUAY_REGISTRY_ADDITIONAL_OVERRIDES={{ quay_registry.additional_overrides | default('undef') }}
DOCKER_REGISTRY_ADDITIONAL_OVERRIDES={{ docker_registry.additional_overrides | default('undef') }}
ELASTIC_REGISTRY_ADDITIONAL_OVERRIDES={{ elastic_registry.additional_overrides | default('undef') }}
GHCR_REGISTRY_ADDITIONAL_OVERRIDES={{ ghcr_registry.additional_overrides | default('undef') }}
REGISTRYK8S_REGISTRY_ADDITIONAL_OVERRIDES={{ registryk8s_registry.additional_overrides | default('undef') }}
ICR_REGISTRY_ADDITIONAL_OVERRIDES={{ icr_registry.additional_overrides | default('undef') }}
USE_PUBLIC_REGISTRIES={{ use_public_registries }}
RECONFIGURE_ENDPOINTS={{ reconfigure_endpoints }}
INITIAL_DB_POPULATED={{ initial_db_populated }}
INCOMPLETE_BOOTSTRAP={{ incomplete_bootstrap }}
OIDC_ISSUER_URL={{ apiserver_oidc.issuer_url | default('undef') }}
OIDC_CLIENT_ID={{ apiserver_oidc.client_id | default('undef') }}
OIDC_USERNAME_CLAIM={{ apiserver_oidc.username_claim | default('undef') }}
OIDC_GROUPS_CLAIM={{ apiserver_oidc.groups_claim | default('undef') }}
KUBERNETES_VERSION={{ kubernetes_version }}
K8S_REGISTRY_SECRET={{ k8s_registry_secret | default('none') }}
GCR_REGISTRY_SECRET={{ gcr_registry_secret | default('none') }}
QUAY_REGISTRY_SECRET={{ quay_registry_secret | default('none') }}
DOCKER_REGISTRY_SECRET={{ docker_registry_secret | default('none') }}
ELASTIC_REGISTRY_SECRET={{ elastic_registry_secret | default('none') }}
GHCR_REGISTRY_SECRET={{ ghcr_registry_secret | default('none') }}
REGISTRYK8S_REGISTRY_SECRET={{ registryk8s_registry_secret | default('none') }}
ICR_REGISTRY_SECRET={{ icr_registry_secret | default('none') }}
{{ sysinv_k8s_vars }}
{# -- Check user_dns_host_records to include dns_host_records #}
{% if user_dns_host_records is defined | default(false) %}
{{ sysinv_user_dns_host_records }}
{% endif %}
