---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: trident-csi
  labels:
    app: controller.csi.trident.netapp.io
    kubectl.kubernetes.io/default-container: trident-main
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: controller.csi.trident.netapp.io
  template:
    metadata:
      labels:
        app: controller.csi.trident.netapp.io
    spec:
      serviceAccount: trident-csi
      containers:
      - name: trident-main
        # STX_change: pull image from local registry
        image: {{ local_registry }}/docker.io/netapp/trident:22.01.0
        ports:
        # STX_change: change ports
        - containerPort: {{ trident_https_rest_api_port }}
        - containerPort: {{ trident_metrics_port }}
        command:
        - /trident_orchestrator
        args:
        - "--crd_persistence"
        - "--k8s_pod"
        - "--https_rest"
        # STX_change: change https port
        - "--https_port={{ trident_https_rest_api_port }}"
        - "--csi_node_name=$(KUBE_NODE_NAME)"
        - "--csi_endpoint=$(CSI_ENDPOINT)"
        - "--csi_role=controller"
        - "--log_format=text"
        - "--address=127.0.0.1"
        # STX_change: change port
        - "--port={{ trident_rest_api_port }}"
        - "--http_request_timeout=1m30s"
        - "--metrics"
        # STX_change: change metrics port
        - "--metrics_port={{ trident_metrics_port }}"
        #- -debug
        livenessProbe:
          exec:
            command:
            - tridentctl
            - -s
            # STX_change: change port
            - "127.0.0.1:{{ trident_rest_api_port }}"
            - version
          failureThreshold: 2
          initialDelaySeconds: 120
          periodSeconds: 120
          timeoutSeconds: 90
        env:
        - name: KUBE_NODE_NAME
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: spec.nodeName
        - name: CSI_ENDPOINT
          value: unix://plugin/csi.sock
        - name: TRIDENT_SERVER
          # STX_change: change port
          value: "127.0.0.1:{{ trident_rest_api_port }}"
        volumeMounts:
        - name: socket-dir
          mountPath: /plugin
        - name: certs
          mountPath: /certs
          readOnly: true

      - name: csi-provisioner
        # STX_change: pull image from local registry
        image: {{ local_registry }}/k8s.gcr.io/sig-storage/csi-provisioner:v3.1.0
        args:
        - "--v=2"
        - "--timeout=600s"
        - "--csi-address=$(ADDRESS)"
        - "--retry-interval-start=8s"
        - "--retry-interval-max=30s"

        env:
        - name: ADDRESS
          value: /var/lib/csi/sockets/pluginproxy/csi.sock
        volumeMounts:
        - name: socket-dir
          mountPath: /var/lib/csi/sockets/pluginproxy/
      - name: csi-attacher
        # STX_change: pull image from local registry
        image: {{ local_registry }}/k8s.gcr.io/sig-storage/csi-attacher:v3.4.0
        args:
        - "--v=2"
        - "--timeout=60s"
        - "--retry-interval-start=10s"
        - "--csi-address=$(ADDRESS)"
        env:
        - name: ADDRESS
          value: /var/lib/csi/sockets/pluginproxy/csi.sock
        volumeMounts:
        - name: socket-dir
          mountPath: /var/lib/csi/sockets/pluginproxy/
      - name: csi-resizer
        # STX_change: pull image from local registry
        image: {{ local_registry }}/k8s.gcr.io/sig-storage/csi-resizer:v1.3.0
        args:
        - "--v=2"
        - "--timeout=300s"
        - "--csi-address=$(ADDRESS)"
        env:
        - name: ADDRESS
          value: /var/lib/csi/sockets/pluginproxy/csi.sock
        volumeMounts:
        - name: socket-dir
          mountPath: /var/lib/csi/sockets/pluginproxy/
      - name: csi-snapshotter
        # STX_change: pull image from local registry
        image: {{ local_registry }}/k8s.gcr.io/sig-storage/csi-snapshotter:v3.0.3
        args:
        - "--v=2"
        - "--timeout=300s"
        - "--csi-address=$(ADDRESS)"
        env:
        - name: ADDRESS
          value: /var/lib/csi/sockets/pluginproxy/csi.sock
        volumeMounts:
        - name: socket-dir
          mountPath: /var/lib/csi/sockets/pluginproxy/
      nodeSelector:
        # STX_change: launch only on master nodes
        node-role.kubernetes.io/master: ""
        kubernetes.io/os: linux
        kubernetes.io/arch: amd64
      tolerations: []
      volumes:
      - name: socket-dir
        emptyDir:
      - name: certs
        secret:
          secretName: trident-csi
      - name: asup-dir
        emptyDir:
          medium: ""
          sizeLimit: 1Gi
