---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: trident-controller
  labels:
    app: controller.csi.trident.netapp.io
# STX_change: add imagePullSecrets
imagePullSecrets:
  - name: {{ trident_secret_name }}
