---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: trident-csi
  # STX_change: configurable namespace
  namespace: {{ trident_namespace }}
  labels:
    app: node.csi.trident.netapp.io
spec:
  scopeSelector:
    matchExpressions:
    - operator : In
      scopeName: PriorityClass
      values: ["system-node-critical"]
