
apiVersion: policy/v1beta1
# Remove pod security policies at k8s 1.25
kind: PodSecurityPolicy
metadata:
  name: tridentpods
spec:
  privileged: true
  allowPrivilegeEscalation: true
  hostIPC: true
  hostPID: true
  hostNetwork: true
  seLinux:
    rule: RunAsAny
  supplementalGroups:
    rule: RunAsAny
  runAsUser:
    rule: RunAsAny
  fsGroup:
    rule: RunAsAny
  volumes:
  - hostPath
  - projected
  - emptyDir
