#
# Copyright (c) 2026 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

apiVersion: v1
kind: Namespace
metadata:
  labels:
    kubernetes.io/metadata.name: rook-ceph
  name: rook-ceph
---
apiVersion: v1
data:
  ceph-secret: {{ cephx_secret | b64encode }}
  ceph-username: {{ "client.admin" | b64encode }}
  fsid: {{ fsid | b64encode }}
  mon-secret: {{ cephx_secret | b64encode }}
kind: Secret
metadata:
  finalizers:
  - ceph.rook.io/disaster-protection
  name: rook-ceph-mon
  namespace: rook-ceph
  ownerReferences:
  - apiVersion: ceph.rook.io/v1
    blockOwnerDeletion: true
    controller: true
    kind: CephCluster
    name: rook-ceph
    uid: ec8485d3-42df-4ca1-9df5-9f80bedbdc6b
type: kubernetes.io/rook

