#
# Copyright (c) 2026 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

apiVersion: v1
kind: Pod
metadata:
  name: migration-import-rbd
  namespace: rook-ceph
spec:
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"
  nodeName: {{ inventory_hostname }}
  initContainers:
    - name: config-init
      image: {{ images.rook_ceph.reef }}
      command: ["/usr/local/bin/toolbox.sh"]
      args: ["--skip-watch"]
      imagePullPolicy: IfNotPresent
      env:
        - name: ROOK_CEPH_USERNAME
          valueFrom:
            secretKeyRef:
              name: rook-ceph-mon
              key: ceph-username
      volumeMounts:
        - mountPath: /etc/ceph
          name: ceph-config
        - name: mon-endpoint-volume
          mountPath: /etc/rook
        - name: ceph-admin-secret
          mountPath: /var/lib/rook-ceph-mon
  containers:
    - name: migration-import-rbd
      image: {{ images.rook_ceph.reef }}
      volumeMounts:
        - mountPath: /etc/ceph
          name: ceph-config
          readOnly: true
        - mountPath: /backup
          name: backup-data
      command: ["sleep", "infinity"]
      securityContext:
        privileged: true
        runAsUser: 0
  volumes:
    - name: ceph-admin-secret
      secret:
        secretName: rook-ceph-mon
        optional: false
        items:
          - key: ceph-secret
            path: secret.keyring
    - name: mon-endpoint-volume
      configMap:
        name: rook-ceph-mon-endpoints
        items:
          - key: data
            path: mon-endpoints
    - name: ceph-config
      emptyDir: {}
    - name: backup-data
      hostPath:
        path: {{ backups_rbd_path }}
  restartPolicy: Never
