---
#
# Copyright (c) 2022-2023 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#
# ROLE DESCRIPTION:
#   This role updates root CA certificate in secret for the subcloud.
#

- name: Update root CA certificate in secret
  import_role:
    name: common/install-platform-certificates
  vars:
    kubeadm_pki_dir: /etc/kubernetes/pki
    mode: 'rehoming'
    system_local_ca_overrides: false
