[Unit]
Description=Remove all containerd pods if flag present
Requires=containerd.service
After=kubelet.service
ConditionPathExists={{ remove_containerd_pods_flag }}

[Service]
ExecStart=/usr/bin/crictl rmp --all
ExecStartPost=/usr/bin/rm -f "{{ remove_containerd_pods_flag }}"

[Install]
WantedBy=multi-user.target
